.header-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;

    .page-title {
        font-size: 3rem;
        font-weight: bolder;
        justify-self: center;
        align-self: center;
    }

    .add-tourn-button {
        justify-self: center;
        align-self: center;
        height: 50px;
        width: 50px;
        border: 1px solid transparent;
        background-color: cadetblue;
        color: white;
        font-size: xx-large;
        border-radius: 10px;
        font-weight: bolder;

        &:hover {
            cursor: pointer;
            background-color: rgb(11, 85, 87);
        }
    }
}

@media (max-width: 750px) {
    .header-wrapper {
        .page-title {
            font-size: 2rem;
        }
    }
}