.schedule-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .schedule-item {
        display: grid;
        grid-template-columns: 1fr 40px;
        grid-template-rows: .1fr 1fr .5fr .25fr 1fr;
        align-items: center;
        text-align: center;
        grid-gap: 5px;
        margin: 20px;
        font-size: 1.5em;
        border: 1px solid black;
        border-radius: 4px;
        background-color: white;

        .tournament-title {
            grid-row: 2;
            grid-column: 1 /span 2;
            font-family: 'Redressed', cursive;
            font-size: larger;
            font-weight: bolder;
            text-transform: uppercase;
            padding: 10px;
            font-size: 2em;

            a {
                color: black;
                // border-bottom: 3px solid black;
                text-decoration: none;

                
                &:hover {
                    color: blue;
                    // border-bottom: 1px solid blue;
                }
            }
        }

        .delete-button {
            border: 1px solid rgb(55, 51, 51);
            border-radius: 5px;
            background-color: lightgray;
            color: rgb(55, 51, 51);
            grid-row: 1;
            grid-column: 2;
            margin: 3px;
            align-self: start;

            &:hover {
                cursor: pointer;
                color: darkred;
                border-color: darkred;
                background-color: rgb(255, 182, 182);
            }
        }

        .tournament-location{
            grid-row: 3;
            grid-column: 1 /span 2;
            display: grid;
            grid-template-columns: 1fr;
            justify-self: center;
            align-items: center;
            font-size: 1em;
            padding: 5px 10px;
            border: 2px solid black;
            border-radius: 3px;
            margin: 0px 5px;

            .course {
                text-transform: capitalize;
                padding: 0px 10px;
                justify-self: center;
                margin: 0px;
            }

            .city-state {
                display: flex;
                justify-content: center;

                .city {
                    text-transform: capitalize;
                    padding-right: 3px;
                    margin: 0px;
                }

                .state {
                    text-transform: uppercase;
                    padding-right: 10px;
                    margin: 0px;
                }
            }
        }

        .tournament-date {
            grid-row: 4;
            grid-column: 1 /span 2;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1em;

            p {
                padding: 0px 10px;
            }
        }


        .tournament-tour {
            grid-column: 1 /span 2;
            grid-row: 5;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-items: center; 
            margin: 5px;
                
            img {
                max-width: 100px;
                max-height: 40px;
                padding-bottom: 5px;
            } 
        }
    }
}

@media (max-width: 1000px) {
    .schedule-wrapper {
        display: grid;
        grid-template-columns: 1fr;

        .schedule-item {
            font-size: small;
        }
    }
}
